<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nic.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".demoSqlite.SqliteDemo" />
        <activity android:name=".fragments.FragmentDemo" />
        <activity
            android:name=".layout.TableDemo"
            android:label="Table Layout" />
        <activity
            android:name=".layout.RelativeDemo"
            android:label="Relative Layout" />
        <activity
            android:name=".layout.ListDemo"
            android:label="List Layout" />
        <activity
            android:name=".layout.LinearDemo"
            android:label="Linear Layout" />
        <activity
            android:name=".layout.GridDemo"
            android:label="Grid Layout" />
        <activity
            android:name=".layout.FrameDemo"
            android:label="Frame Layout" />
        <activity
            android:name=".layout.ConstraintDemo"
            android:label="Constraint Layout" />
        <activity
            android:name=".layout.AbsoluteDemo"
            android:label="Absolute Layout" />
        <activity
            android:name=".layout.LayoutDemo"
            android:label="Layout Demo" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>